source_directories:
  - /mnt/source
repositories:
  - path: ssh://kyle@pms/media/borg
  - path: /mnt/borg-repository/

compression: zlib,6
archive_name_format: "fedora-backup-{now:%Y-%m-%dT%H.%M}"
relocated_repo_access_is_ok: true
ssh_command: ssh -i /mnt/source/home/kyle/.ssh/id_rsa -F /mnt/source/home/kyle/.ssh/config

keep_daily: 3
keep_weekly: 2
keep_monthly: 3

skip_actions:
  # Will do checks on media server
  - check

commands:
  - before: action
    when: [create]
    run:
      - echo "Starting a backup"
  - before: action
    when: [compact]
    run:
      - echo "Starting compaction"
  - before: action
    when: [prune]
    run:
      - echo "Starting pruning"
  - after: error
    run:
      - echo Error running borgmatic {error}
  - after: everything
    run:
      - echo "Backup finished"

pushover:
  token: ${PUSHOVER_TOKEN}
  user: ${PUSHOVER_USER_TOKEN}
  fail:
    message: "Backup <font color='#ff6961'>Failed</font>"
    title: "Fedora Borgmatic Failed"
    html: True
  states:
    - fail
